[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/iam/Desktop/What Kind of Learner Are You.md]
row=4
col=0

[/home/iam/Desktop/screenshot-www.businessinsider.in-2022.03.12-16_26_04.png]
row=7
col=0

[/home/iam/Desktop/INTJ - personal traits]
row=2
col=0

[/home/iam/Desktop/Agenda within Uni.png]
row=6
col=0

[/home/iam/Desktop/Architect profile (with marks).pdf]
row=3
col=0

[/home/iam/Desktop/screenshot-www.quora.com-2022.03.12-16_22_45.png]
row=8
col=0

[/home/iam/Desktop/hw.docx]
row=5
col=0

[Trash]
row=1
col=0

[/home/iam]
row=0
col=0

