[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/iam/Desktop/INTJ - personal traits]
row=0
col=2

[/home/iam/Desktop/screenshot-www.businessinsider.in-2022.03.12-16_26_04.png]
row=0
col=6

[/home/iam/Desktop/Agenda within Uni.png]
row=0
col=3

[/home/iam/Desktop/hw.docx]
row=0
col=5

[/home/iam/Desktop/Architect profile (with marks).pdf]
row=0
col=4

[/home/iam/Desktop/What Kind of Learner Are You.md]
row=0
col=8

[/home/iam/Desktop/screenshot-www.quora.com-2022.03.12-16_22_45.png]
row=0
col=7

[Trash]
row=0
col=1

[/home/iam]
row=0
col=0

